[Unit]
Description=MMOInsweeper Game Server
After=network.target

[Service]
# service_name is either `mmoinsweeper` or `mmoinsweeper-<branch>`
ExecStart=/usr/local/bin/{{ service_name }} --port 8080
Restart=always
RestartSec=5
User=mmoinsweeper
Group=mmoinsweeper
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
